DOCKER_CONTEXT=remote
SUPERSET_IMAGE=registry.example.com/platform/superset:4.0.0-r1
SUPERSET_ADMIN_USERNAME=platform-admin
SUPERSET_ADMIN_FIRSTNAME=Platform
SUPERSET_ADMIN_LASTNAME=Administrator
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_FRAME_ANCESTORS="'self' https://portal.example.com"
SUPERSET_ALLOWED_ORIGIN=https://portal.example.com
